<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Modified</th>
        <th>{% if usages %}Usages{% endif %}</th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
        {% if file.mimetype == 'directory' %}
            <tr class="yw_file_manager_dir">
                <td class="yw_file_manager_type default yw_file_manager_drag">
                    <span class="yw_file_manager_item_dir">{{ file.filename }}</span>
                </td>
                <td>{{ file.readableType }}</td>
                <td>{{ file.filesize }}</td>
                <td>{{ file.modified }}</td>
                <td></td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr class="yw_file_manager_empty hidden">
        <td><span class="yw_file_manager_item_dir disabled"></span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>{% if usages %}&nbsp;{% endif %}</td>
    </tr>
    {% for file in files %}
        {% if file.mimetype != 'directory' %}
            <tr class="yw_file_manager_drag yw_file_manager_type {{ file.fileclass }}">
                <td class="">
                    <span class="yw_file_manager_page {{ file.fileclass }}">{{ file.filename }}</span>
                </td>
                <td>{{ file.readableType }}</td>
                <td>{{ file.filesize }}</td>
                <td>{{ file.modified }}</td>
                {% if usages %}
                    <td>
                        <div class="badge badge-info popover-dismiss"
                             data-content="{% if file.usage_locations is not empty %}
                                        {% for usage_location in file.usage_locations %}
                                            {{ usage_location.location }} <br>
                                        {% endfor %}
                                    {% else %}
                                        No usages
                                    {% endif %}"
                             data-toggle="popover">
                            {{ file.usages }}
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
    {#% if files|length < 13 %}
        {% for i in files|length..13 %}
            <tr class="empty_row">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{% if usages %}&nbsp;{% endif %}</td>
            </tr>
        {% endfor %}
    {% endif %#}
    </tbody>
</table>
