{% if app.request.isXmlHttpRequest() %}
    {% set file_manager_template = 'YouweFileManagerBundle:FileManager:empty_layout.html.twig' %}
{% else %}
    {% set file_manager_template = 'YouweFileManagerBundle:FileManager:file_manager_layout.html.twig' %}
{% endif %}

{% extends file_manager_template %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@YouweFileManagerBundle/Resources/public/css/jquery-ui.custom.min.css'
    '@YouweFileManagerBundle/Resources/public/css/bootstrap.min.css'
    '@YouweFileManagerBundle/Resources/public/css/font-awesome.min.css'
    "@YouweFileManagerBundle/Resources/public/css/jquery.contextMenu.css"
    "@YouweFileManagerBundle/Resources/public/css/file_manager_list.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ theme_css }}">
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@YouweFileManagerBundle/Resources/public/js/jquery.js'
    '@YouweFileManagerBundle/Resources/public/js/jquery-ui.custom.min.js'
    '@YouweFileManagerBundle/Resources/public/js/bootstrap.min.js'
    '@YouweFileManagerBundle/Resources/public/js/dropzone.js'
    '@YouweFileManagerBundle/Resources/public/js/jquery.contextMenu.js'
    '@YouweFileManagerBundle/Resources/public/js/file_manager_list.js'
    %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
        var current_path="{{ current_path }}";
        var root_folder = "{{ root_folder }}";
        var is_popup = {% if isPopup %} true; {% else %} false; {% endif %}
    </script>
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}

{% block file_manager_block %}
    <div id="FileManagerContainer" {% if isPopup %}class="popup"{% endif %}>
        <form action="" id="file_manager_form" method="post" enctype="multipart/form-data">
            <div class="FileManagerList">
                <div class="FileManagerHead">File Manager</div>
                {{ block('file_manager_content') }}
            </div>
            {{ form_row(form._token) }}
            {% include "YouweFileManagerBundle:FileManager:modals.html.twig" %}
        </form>
    </div>
{%endblock%}

{% block file_manager_content %}
<div class="FileManagerListDirs">
    <div id="Dirs">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Directory List</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li {% if current_path is empty %}class="dir_active"{% endif %}>
                        <span class="yw_file_manager_directory_line">
                            <span class="toggleIcon toggleDir"><i class="fa fa-caret-down"></i></span>
                            <span class="yw_file_manager_dir nowrap" title="{{ root_folder }}" id="{{ root_folder }}">{{ root_folder }}</span>
                        </span>
                        <ul>
                            {% include "YouweFileManagerBundle:FileManager:file_manager_dir.html.twig" with {'dirs': dirs , 'inner': ''} %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="FileManagerListItems">
    <div id="Items">
        <div id="LoadingScreen" class="FileManagerLoadingScreen">
        </div>
        <div class="panel panel-default panel-actions">
            <div class="panel-heading">
                <div class="ToolBar">
                    {% include "YouweFileManagerBundle:FileManager:file_manager_toolbar.html.twig" %}
                    
                    <div class="ViewOption">
                        {% if file_body_display == 'file_body_block' %}
                            <div id="set_display_list" class="btn btn-default pull-right" title="Toggle List"><i class="fa fa-list"></i></div>
                        {% else %}
                            <div id="set_display_block" class="btn btn-default pull-right" title="Toggle List"><i class="fa fa-th"></i></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-items">
            {#Commented out for later#}
            {#<div class="file-manager-table-current-path">Current Directory: {{ root_folder }}{{ path_separator }}{{ current_path }}</div>#}
            <div id="file-manager-table-wrapper" class="{{ file_body_display }}">
                {% include "YouweFileManagerBundle:FileManager:" ~file_body_display ~ ".html.twig" with {'files': files} %}
            </div>
        </div>
    </div>
</div>
{% endblock %}